* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #191919;
}
.container {
  height: 100%;
  width: 100%;
  /* background: #191919; */
}
nav {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #202020;
  color: #cacfd9;
  width: 100%;
  height: 70px;
  z-index: 11;

  /* box-shadow: 0 1px 5px -2px #cacfd9; */
}
.logo,
.search,
.nav-list,
.nav-list .write-blog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search .icon {
  margin: 0px 5px;
}

.search input[type="search"] {
  width: 500px;
  padding: 8px 12px 8px 3px;
  border-radius: 50px;
  border: none;
  background: #191919;
}
.search input[type="search"]::placeholder {
  font-size: 15px;
}
.search input[type="search"]:focus {
  outline: none;
  color: #cacfd9;
}
a {
  text-decoration: none;
  color: #cacfd9;
}
.logo {
  margin: 0px 0px 0px 24px;
}
.logo:hover {
  cursor: pointer;
}
.nav-list {
  margin: 0px 34px 0px 0px;
}
.logo img {
  height: 55px;
  width: 55px;
}
.logo .name {
  font-size: 22px;
  margin-left: 10px;
}

.nav-list {
  width: 200px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.logo i,
.search .icon i,
.nav-list .write-blog .icon i,
.nav-list .help i {
  font-size: 22px;
}
.nav-list .write-blog {
  gap: 12px;
  height: 37px;
  background: #191919;
  padding: 0px 10px;
  border-radius: 7px;
}
.nav-list .profile img {
  height: 33px;
  width: 33px;
  border-radius: 50%;
}
.nav-list:hover {
  cursor: pointer;
}
.search {
  height: 37px;
  background: #191919;
  padding: 0px 7px;
  border-radius: 7px;
}
.sidebar {
  width: 250px;
  margin: -20px 0px 10px 30px;
  position: fixed;
  left: 0;
  height: calc(100% - 80px);
  border-right: 1px solid #3d3838;
  /* padding-top: 20px; */
  z-index: 10;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar .topbar{
     display: flex;
        flex-direction: column;
       gap: 20px;
       margin-top: 20px;
}
.sidebar .topbar li{
  padding: 12px 0px 12px 12px;
  width: 210px;
  border-radius: 8px;
  color: #cacfd9;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  gap: 12px;
}
.sidebar .bottombar li {
  margin: 20px 0px 25px 0px;
  padding: 12px 0px 12px 12px;
  width: 210px;
  border-radius: 8px;
  color: #cacfd9;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  gap: 12px;
}
.sidebar .topbar li.active {
  background: #292929;
  color: #fff;
}
.sidebar .topbar li:hover {
  background: #292929;
  color: #fff;
}
.sidebar .bottombar li {
  margin: 180px 0px 0px 0px;
  background: #8f2424;
}

.sidebar .bottombar li:hover {
  background: #8f1818;
  color: #fff;
}

.content {
  margin-top: 90px;
  margin-left: 190px;
}
.cards {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  align-items: center;
  margin-left: 200px;
}
.cards .card {
  height: 295px;
  width: 860px;
  background: #202020;
  border-radius: 8px;
}

.cards .card h2 {
  color: #cacfd9;
  margin: 20px;
}

.cards .card .profile-section {
  margin: 0px 20px;
  display: flex;
  align-items: center;
}

.cards .card .profile-section:hover {
  cursor: pointer;
}

.cards .card .profile-section img {
  height: 44px;
  border-radius: 50%;
}

.cards .card .profile-section .userinfo {
  margin-bottom: 7px;
  margin-left: 10px;
  color: #cacfd9;
}

.cards .card .profile-section .userinfo .username {
  font-size: 12px;
}
.cards .card .profile-section .userinfo .fullname {
  font-size: 20px;
}

.cards .card .desc-img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 170px;
}
.cards .card .desc-img .desc {
  margin-left: 20px;
  color: #cacfd9;
  flex: 1 1 0;
  max-width: 90%;
  min-width: 120px;
  word-break: break-word;
}

.cards .card .desc-img img {
  height: 150px;
  margin-right: 20px;
  margin-top: -60px;
  margin-left: 20px;
  /* Ensures image stays to the right */
  display: block;
  object-fit: cover;
  max-width: 250px;
  min-width: 150px;
}

.cards .card .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -70px 10px;
  color: #cacfd9;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.cards .card .footer .fcard {
  padding: 5px 25px;
  background: #191919;
  border-radius: 7px;
}
.cards .card .footer .fcard:hover {
  cursor: pointer;
  background: #0f0f0f;
}

footer {
  margin-left: 240px;
  margin-top: 60px;
  background: #191919;
  color: #cacfd9;
  text-align: center;
  padding: 30px 0;
  border-radius: 10px;
}

footer > div > a {
  color: #cacfd9;
  margin: 0 10px;
  text-decoration: none;
}

.profile-card {
  height: 140px;
  width: 300px;
  background: #191919;
  z-index: 10;
  position: absolute;
  right: 30px;
  box-shadow: 0 0 7px #444444;
  border-radius: 8px;
}

.help-card {
  width: 300px;
  background: #191919;
  z-index: 10;
  position: absolute;
  right: 30px;
  box-shadow: 0 0 4px #444444;
  color: #cacfd9;

  top: 90px;
  padding: 20px;
  border-radius: 10px;
}
.profile-card .userinfo {
  display: flex;
  color: #cacfd9;
  margin: 10px;
}

.profile-card .btns {
  display: flex;
  justify-content: space-around;
  padding-bottom: 7px;
  border-bottom: 1px solid #3d3838;
}

.profile-card .btns .btn {
  padding: 5px 11px;
  background: #202020;
  border-radius: 6px;
}

.profile-card .links {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #cacfd9;
  gap: 4px;
}

.profile-card .links i:hover {
  cursor: pointer;
}

.profile-card .userinfo img {
  height: 44px;
  border-radius: 50%;
  margin-right: 7px;
}
.profile-card .userinfo .email {
  font-size: 13px;
}
.hidden {
  display: none;
}
